<div class="parallax">
<div class="parallax__group">
  <div class="parallax__layer parallax__layer--base">
    <div class="base"></div>
    <div class="base2"></div>
  </div>
  <div class="parallax__layer parallax__layer--back">
    <div class="background"></div>
  </div>
  <div class="parallax__layer parallax__layer--deep">
  <div class="deep"></div>
  <div class="deep2"></div>
  </div>
</div>
</div>