<!DOCTYPE html>
<html>
<head>
  <title>Olympic App</title>
  <link rel="stylesheet" type="text/css" href="/style/style.css">

</head>
<body>
  <ul id="navbar">
    <li id="blue"><a href="/home">Home</a></li>
    <li id="black"><a href="/medals">Medals</a></li>
    <li id="red"><a href="/nations">Nations</a></li>
    <li id="yellow"><a href="/athletes">Athletes</a></li>
    <li id="green"><a href="/events">Events</a></li>
  </ul>
<main>
  <%= yield %>
</main>

</body>
</html>