<!DOCTYPE html>
<html>
<head>
  <title>Olympic App</title>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
</head>
<body>
  <ul id="navbar">
    <li id="blue"><a href="/home">Home</a></li>
    <li id="black"><a href="/medals">Medals</a></li>
    <li id="red"><a href="/nations">Nations</a></li>
    <li id="yellow"><a href="/athletes">Athletes</a></li>
    <li id="green"><a href="/events">Events</a></li>
  </ul>
<main>
  <%= yield %>
</main>
<div id="footer">
  <!-- <div id="button">
    <p>Search...</p>
  </div> -->
</div>
</body>
</html>