<h1>Register New Nation</h1>

<form action="/nations" method="post" enctype='multipart/form-data'>

  <label for="name">Name:</label>
  <input type="text" name="name" />

  <label for="flag">Upload flag:</label>
  <input type="file" name="flag" accept="image/*">

  <input type="submit" value="Submit details" />

</form>