<b>Name:</b>
<p><%= @athlete.name %></p>
<b>Representing:</b>
<p><%= @athlete.nation %></p>

<div class="button"><a href="/athletes/<%= params[:id] %>/edit"><div class="border">Edit this athlete</div></a></div>