<div class="headers">
<h1>Registered Athletes</h1>

<div class="button"><a href="/athletes/new"><div class="border">Add an athlete</div></a></div>

<% @athletes.each do |a| %>

<ul>
  <li><a href="athletes/<%= a.id %>"><%= a.name %></a> - representing <%= a.nation %></li>
</ul>

<% end %>
</div>