<h1>Register New Athlete</h1>

<form action="/athletes" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name" />

  <label for="nation_id">Select Nation</label>

  <select name="nation_id">

    <% @nations.each do |n|%>
    <option value="<%= n.id %>"><%= n.name %></option>
    <% end %>

  </select>

  <input type="submit" value="Submit info" />

</form>